@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
    font-family: 'Pretendard Variable', Pretendard, sans-serif;
  }
}

.title1 {
  @apply text-title1 leading-title1 font-bold;
}

.title2 {
  @apply text-title2 leading-title2 font-bold;
}

.title3 {
  @apply text-title3 leading-title3 font-semibold;
}

.title4 {
  @apply text-title4 leading-title4 font-normal;
}

.body1 {
  @apply text-body1 leading-body1 font-bold;
}

.body2 {
  @apply text-body2 leading-body2 font-medium;
}

.body3 {
  @apply text-body3 leading-body3 font-normal;
}

.body4 {
  @apply text-body4 leading-body4 font-medium;
}

.body5 {
  @apply text-body5 leading-body5 font-normal;
}

.button {
  @apply text-button leading-button font-semibold;
}

.caption {
  @apply text-caption leading-caption font-normal text-dark_gray;
}

.no-scroll {
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 4px;
  background-color: gray;
}
